/*-- Reset default styles --*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
body {
  padding: 0;
  margin: 0;
  background: #fff; }

h1, h2, #reviews .sub-text, #what-we-do .sub-text, h3, h4, h5, h6, ul, li, em, strong, pre, code {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 100%;
  font-weight: normal;
  font-style: normal; }

table {
  font-size: inherit;
  font: 100%; }

ul {
  list-style: none; }

img {
  border: 0; }

p {
  margin: 1em 0; }

body {
  font-family: "Open Sans", sans-serif; }

.content-container {
  width: 1300px;
  margin: 0 auto; }

nav.circles {
  position: fixed;
  z-index: 5;
  top: 219px;
  right: 32px;
  width: 20px;
  height: 221px; }
  nav.circles a {
    background: #7a848c;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    position: relative;
    top: 3px;
    left: 3px; }
  nav.circles .out-border {
    display: block;
    width: 12px;
    height: 12px;
    background: none;
    border-radius: 50%;
    margin-top: 31px;
    cursor: pointer;
    position: relative;
    overflow: hidden; }
    nav.circles .out-border .label {
      position: absolute;
      font-size: 15px;
      color: #fff;
      text-align: center;
      padding: 14px 13px;
      background: #000;
      background: rgba(0, 0, 0, 0.6);
      left: -103px;
      top: -21px;
      border-radius: 3px;
      opacity: 0; }
      nav.circles .out-border .label:after {
        display: block;
        content: '';
        background: url("../img/label-triangle.png");
        width: 6px;
        height: 42px;
        position: absolute;
        right: -6px;
        top: 4px; }
    nav.circles .out-border:hover, nav.circles .out-border.active {
      width: 10px;
      height: 10px;
      border: 1px solid #7a848c; }
      nav.circles .out-border:hover a, nav.circles .out-border.active a {
        background: #009688; }
      nav.circles .out-border:hover .label, nav.circles .out-border.active .label {
        top: -22px;
        /*left: -104px; */ }
    nav.circles .out-border:hover {
      overflow: visible; }
      nav.circles .out-border:hover .label {
        -webkit-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: .8s;
        transition-duration: .8s;
        opacity: 1; }
    nav.circles .out-border .reviews .label,
    nav.circles .out-border .projects .label {
      left: -96px; }
    nav.circles .out-border .wwd .label {
      left: -123px; }
    nav.circles .out-border .process .label {
      left: -94px; }
    nav.circles .out-border .our-team .label {
      left: -107px; }
    nav.circles .out-border .contacts .label {
      left: -101px; }

.top-line {
  height: 70px;
  width: 100%;
  position: fixed;
  background: #030000;
  background: rgba(3, 0, 0, 0.6);
  z-index: 5; }
  .top-line .logo {
    margin-top: 19px;
    float: left; }
  .top-line .page-navigation {
    float: left;
    margin-left: 36px; }
    .top-line .page-navigation a {
      font-size: 17px;
      color: #ffffff;
      text-decoration: none;
      display: block;
      float: left;
      padding: 22px 23px 18px 23px; }
      .top-line .page-navigation a:hover, .top-line .page-navigation a.active {
        background: #e7e7e7;
        border-bottom: 7px solid #ff9800;
        color: #444343; }
  .top-line .message-btn {
    margin-left: 13px;
    float: left;
    background: #ff9800;
    padding: 9px 14px;
    border-radius: 4px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 16px;
    color: #fff; }
    .top-line .message-btn .message-ico {
      background: url("../img/message-ico.png");
      width: 27px;
      height: 25px;
      margin-right: 14px;
      display: block;
      float: left; }
  .top-line .lang-switcher {
    float: right;
    margin-top: 29px;
    height: 18px;
    width: 45px;
    overflow: hidden;
    color: #fff;
    background: url("../img/select-btn.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    cursor: pointer; }

.top-banner {
  background: url("../img/header-bg.jpg");
  height: 651px;
  width: 100%;
  background-position: top center;
  position: fixed;
  z-index: 1; }
  .top-banner h2, .top-banner #reviews .sub-text, #reviews .top-banner .sub-text, .top-banner #what-we-do .sub-text, #what-we-do .top-banner .sub-text {
    color: #fff;
    width: 100%;
    font-size: 45px;
    text-align: center;
    position: absolute;
    bottom: 90px; }
  .top-banner .arrow-down {
    width: 100%;
    background: url("../img/arrow-down.png") no-repeat;
    background-position: center center;
    height: 24px;
    position: absolute;
    bottom: 24px; }

#about-us {
  width: 100%;
  display: inline-block;
  margin-top: 651px;
  background: #fff;
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 38px; }

#projects {
  width: 100%;
  display: inline-block;
  background: #fff;
  position: relative;
  z-index: 2;
  padding-top: 75px; }
  #projects h2, #projects #reviews .sub-text, #reviews #projects .sub-text, #projects #what-we-do .sub-text, #what-we-do #projects .sub-text {
    font-size: 38px;
    text-align: center;
    color: #009688; }
  #projects .sub-text {
    color: #7a7978;
    font-size: 17px;
    text-align: center; }
  #projects .portfolio-nav {
    margin: 50px auto;
    text-align: center;
    width: 1225px;
    border-bottom: 1px solid #d0d0d0; }
    #projects .portfolio-nav a {
      display: inline-block;
      text-decoration: none;
      color: #444343;
      font-size: 17px;
      margin: 0 23px;
      padding: 0 5px 8px 5px;
      text-align: center;
      cursor: pointer; }
      #projects .portfolio-nav a:hover, #projects .portfolio-nav a.active {
        padding-bottom: 4px;
        border-bottom: 4px solid #ff9800; }
      #projects .portfolio-nav a.active {
        font-weight: bold; }
  #projects .portfolio-works {
    width: 1225px;
    height: 622px;
    margin: 0 auto; }
    #projects .portfolio-works .portfolio-item {
      width: 261px;
      height: 261px;
      overflow: hidden;
      position: relative;
      float: left;
      margin: 0 0 50px 60px; }
      #projects .portfolio-works .portfolio-item img {
        position: relative;
        z-index: 2; }
      #projects .portfolio-works .portfolio-item .mask {
        top: 0;
        right: 0;
        position: absolute;
        z-index: 3;
        background: rgba(0, 0, 0, 0.6);
        height: 261px;
        padding: 28px 36px;
        color: #fff;
        opacity: 0; }
        #projects .portfolio-works .portfolio-item .mask h3 {
          font-size: 24px;
          padding-bottom: 4px; }
        #projects .portfolio-works .portfolio-item .mask p {
          font-size: 17px;
          line-height: 26px; }
        #projects .portfolio-works .portfolio-item .mask .view-btn {
          display: inline-block;
          padding: 6px 28px;
          border-radius: 3px;
          border: 1px solid #fff;
          cursor: pointer; }
      #projects .portfolio-works .portfolio-item:hover .mask {
        -webkit-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: .8s;
        transition-duration: .8s;
        opacity: 1; }
    #projects .portfolio-works .portfolio-item:nth-child(4n+1) {
      margin-left: 0; }

#reviews {
  height: 816px;
  background: url("../img/reviews-bg.jpg");
  background-position: top center;
  position: relative;
  z-index: 2; }
  #reviews h2, #reviews .sub-text {
    display: inline-block;
    color: #fff;
    font-size: 38px;
    margin-top: 90px;
    text-align: center;
    width: 100%; }
  #reviews .sub-text {
    color: #e0e0e0;
    font-size: 17px;
    margin-top: 13px; }
  #reviews .reviews-container {
    width: 1300px;
    margin: 50px auto; }
    #reviews .reviews-container .reviews-item {
      background: url("../img/feedback-bg.png");
      width: 397px;
      height: 249px;
      float: left;
      margin: 0 0 54px 54px;
      position: relative; }
      #reviews .reviews-container .reviews-item img {
        border-radius: 50%;
        display: inline-block;
        margin-left: 19px;
        margin-top: -22px; }
      #reviews .reviews-container .reviews-item .name {
        position: absolute;
        top: 0;
        left: 154px;
        top: 25px;
        font-size: 21px; }
      #reviews .reviews-container .reviews-item .text-review {
        width: 342px;
        text-align: justify;
        margin: 7px auto;
        font-size: 15px; }
    #reviews .reviews-container .reviews-item:nth-child(3n+1) {
      margin-left: 0; }

#what-we-do {
  padding-top: 90px;
  position: relative;
  z-index: 2;
  background: #fff;
  padding-bottom: 350px; }
  #what-we-do h2, #what-we-do .sub-text {
    color: #009688;
    font-size: 38px;
    width: 100%;
    text-align: center; }
  #what-we-do .sub-text {
    font-size: 17px;
    color: #7a7978;
    margin-top: 13px; }
  #what-we-do .wwd-container {
    width: 1240px;
    margin: 32px auto; }
    #what-we-do .wwd-container .wwd-item {
      float: left;
      margin-left: 126px;
      text-align: center; }
      #what-we-do .wwd-container .wwd-item .picture {
        display: inline-block;
        border-radius: 50%;
        border: 8px solid #fff;
        -webkit-box-shadow: 0 0 5px #e7e7e7;
        box-shadow: 0 0 5px #e7e7e7; }
      #what-we-do .wwd-container .wwd-item h3 {
        font-size: 22px;
        margin-top: 20px;
        line-height: 1.3; }
    #what-we-do .wwd-container .wwd-item:first-child {
      margin-left: 0; }

#process {
  position: relative;
  z-index: 2;
  background: #f0f0f0;
  padding-top: 90px;
  padding-bottom: 57px; }
  #process h2, #process #reviews .sub-text, #reviews #process .sub-text, #process #what-we-do .sub-text, #what-we-do #process .sub-text {
    width: 100%;
    text-align: center;
    font-size: 38px;
    color: #009688; }
  #process .sub-text {
    font-size: 17px;
    width: 100%;
    color: #7a7978;
    text-align: center; }
  #process .content-container {
    text-align: center;
    margin-top: 65px;
    position: relative; }
  #process .step {
    width: 200px;
    text-align: right;
    position: absolute;
    right: 0; }
    #process .step h4 {
      font-size: 24px;
      line-height: 35px; }
    #process .step p {
      font-size: 17px;
      color: #585757;
      margin-top: 20px;
      text-align: justify; }
  #process .step-1 {
    top: 14px;
    left: 45px; }
  #process .step-2 {
    text-align: left;
    top: 172px;
    right: 45px; }
  #process .step-3 {
    top: 305px;
    left: 45px; }
  #process .step-4 {
    text-align: left;
    top: 468px;
    right: 45px; }
  #process .safeguards {
    background: #fff;
    border: 1px solid #b9b9b9;
    width: 100%;
    height: 163px;
    margin-top: -5px; }
    #process .safeguards .item {
      float: left; }
      #process .safeguards .item img {
        display: inline-block;
        float: left; }
      #process .safeguards .item h4 {
        display: inline-block;
        float: left;
        font-size: 24px;
        text-align: left; }
    #process .safeguards .item-1 {
      margin: 35px 0 0 45px; }
      #process .safeguards .item-1 h4 {
        margin-top: 13px;
        margin-left: 24px; }
    #process .safeguards .item-2 {
      margin-left: 171px;
      margin-top: 33px; }
      #process .safeguards .item-2 h4 {
        margin-top: 3px;
        margin-left: 13px; }
    #process .safeguards .item-3 {
      margin-left: 137px;
      margin-top: 26px; }
      #process .safeguards .item-3 h4 {
        margin-top: 22px;
        margin-left: 41px; }

#team {
  background: #fff;
  position: relative;
  z-index: 2;
  padding-top: 90px; }
  #team h2, #team #reviews .sub-text, #reviews #team .sub-text, #team #what-we-do .sub-text, #what-we-do #team .sub-text {
    font-size: 38px;
    width: 100%;
    text-align: center;
    color: #2b2b2b; }
  #team .sub-text {
    font-size: 17px;
    width: 100%;
    text-align: center;
    color: #686868; }
  #team .content-container {
    height: 307px;
    background: #fff; }
  #team .team-memb {
    float: left;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 50px; }
    #team .team-memb h3 {
      color: #2b2b2b;
      font-size: 24px;
      padding-top: 20px; }
    #team .team-memb h5 {
      color: #555555;
      font-size: 17px;
      margin-top: 6px; }
  #team .team-memb-1 {
    margin-left: 65px; }
  #team .team-memb-2 {
    margin-left: 143px; }
  #team .team-memb-3 {
    margin-left: 128px; }
  #team .team-memb-4 {
    margin-left: 169px; }

#contact-us {
  position: relative;
  z-index: 2;
  padding-top: 90px;
  background: url("../img/contacts-bg.jpg");
  clear: both;
  height: 683px; }
  #contact-us h3 {
    font-size: 38px;
    width: 100%;
    text-align: center;
    color: #fff; }
    #contact-us h3.orange {
      color: #ff9800;
      margin-top: 8px; }
  #contact-us #contact-form {
    float: left;
    margin-top: 32px;
    margin-left: 77px;
    width: 472px;
    height: 439px; }
    #contact-us #contact-form .text-input,
    #contact-us #contact-form textarea {
      width: 422px;
      padding: 16px 24px;
      margin-top: 33px;
      outline: none;
      border: none;
      border-radius: 3px;
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8); }
    #contact-us #contact-form textarea {
      height: 150px;
      color: #a6a6a6;
      font-family: sans-serif; }
    #contact-us #contact-form .send-button {
      width: 470px;
      padding: 18px 0;
      margin-top: 30px;
      border-radius: 3px;
      background: #ff9800;
      border: none;
      outline: none;
      cursor: pointer;
      color: #fff; }
  #contact-us .contact-info {
    margin: 415px 0 0 207px;
    display: inline-block;
    color: #fefefe;
    font-size: 24px; }
    #contact-us .contact-info .skype,
    #contact-us .contact-info .mail {
      clear: both;
      display: block; }
      #contact-us .contact-info .skype span,
      #contact-us .contact-info .mail span {
        position: relative;
        top: -5px; }
    #contact-us .contact-info .ico {
      float: left;
      margin-right: 17px; }
    #contact-us .contact-info .line {
      background: url("../img/line.png");
      width: 385px;
      height: 2px;
      background-repeat: no-repeat;
      margin: 15px 0 15px 51px; }
